* {
    margin: 0;
}

.box {
    background-color: var(--tobo-back);
}

.divisor {
    justify-content: center;
    align-items: center;
    background-color: var(--tobo-white);
    padding-top: 3px;
    padding-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 0.3rem;
}

:root {
    --tobo-task: #47adf1;
    --tobo-edit: #45abe9;
    --tobo-goals: #9c72e4;
    --tobo-recruiting: #64c0a8;
    --tobo-mobile: #f29e33;
    --tobo-website: #d863a0;
    --tobo-sales: #b0c926;
    --tobo-text: #454952;
    --tobo-back: #dadee1;
    --tobo-nope: #ed655d;
    --tobo-yes: #87cfbe;
    --tobo-white: #ffffff;
}

.logo {
    margin-top: 1rem;
    margin-left: 1rem;
}

.title {
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
}


.addtask {
    display: inline-block;
    border: 0.15rem solid var(--tobo-task);
    border-radius: 0.3rem;
    background-color: var(--tobo-task);
    color: var(--tobo-white);
    margin-right: 1rem;
    margin-left: 3rem;
    padding: 0.3rem;
    margin-bottom: 0.1rem;
}

.addselection {
    display: inline-block;
    border: 0.15rem solid var(--tobo-back);
    border-radius: 0.3rem;
    background-color: var(--tobo-white);
    color: var(--tobo-back);
    padding: 0.3rem;
    margin-bottom: 0.1rem;
}

.check {
    color: var(--tobo-yes);
    border: 0.15rem solid var(--tobo-yes);
    padding: 0.1rem;
    border-radius: 150%;
    display: inline-block;
}

.annotation {
    display: inline-block;
    padding: 0.2rem;
    color: var(--tobo-white);
    font-size: 12px;
}

.nope {
    color: var(--tobo-nope);
    border: 0.15rem solid var(--tobo-nope);
    padding: 0.1rem;
    border-radius: 150%;
    display: inline-block;
}

.todolist {
    display: inline-block;
}

#editorial {
    border: 0.15rem solid var(--tobo-edit);
    background-color: var(--tobo-edit);
    border-radius: 0.8rem;
}

#goals {
    border: 0.15rem solid var(--tobo-goals);
    background-color: var(--tobo-goals);
    border-radius: 0.8rem;
}

#recruiting {
    border: 0.15rem solid var(--tobo-recruiting);
    background-color: var(--tobo-recruiting);
    border-radius: 0.8rem;
}

#mobile {
    border: 0.15rem solid var(--tobo-mobile);
    background-color: var(--tobo-mobile);
    border-radius: 0.8rem;
}

#website {
    border: 0.15rem solid var(--tobo-website);
    background-color: var(--tobo-website);
    border-radius: 0.8rem;
}

#sales {
    border: 0.15rem solid var(--tobo-sales);
    background-color: var(--tobo-sales);
    border-radius: 0.8rem;
}

.divisor {
    margin-top: 5rem;
    margin-right: 10rem;
    margin-left: 10rem;
}